.portfolio-card-container {
  height: 100%;
  box-shadow: map-get($box-shadow, light, 2);
  border-radius: map-get($border-radius, md);
  overflow: hidden;
  background-color: map-get($background, light, primary);
  transition: all 0.5s ease;
  &.dark {
    background-color: map-get($background, dark, darkTransparent, 1);
  }
  .portfolio-card {
    width: 100%;
    height: 100%;
    position: relative;
    &:hover {
      .portfolio-card_details {
        opacity: 1;
      }
      .portfolio-card_main {
        opacity: 0;
      }
    }
    &_details {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease;
      @include d-flex(column, center, center);
      gap: 0.5rem;
      padding: 1rem;
      background-color: map-get($background, light, primary);
      color: map-get($text, light, secondary);
      transition: all 0.5s ease;
      &.dark {
        color: map-get($text, dark, secondary);
        background-color: map-get($background, dark, darkTransparent, 1);
      }
      &_title {
        text-align: center;
        color: map-get($text, light, primary);
        font-size: map-get($font-size, "2xl");
        @include responsive-for($xlg) {
          font-size: map-get($font-size, "lg");
        }
        @include responsive-for($lg) {
          font-size: map-get($font-size, "8xl");
        }
        @include responsive-for($md) {
          font-size: map-get($font-size, "6xl");
        }
        @include responsive-for($mobile) {
          font-size: map-get($font-size, "3xl");
        }
        &.dark {
          color: lighten(map-get($text, light, primary), 25%);
        }
      }
      &_description,
      &_status,
      &_tech {
        text-align: center;
        line-height: 1.5;
        font-size: map-get($font-size, "md");
        @include responsive-for($xlg) {
          font-size: map-get($font-size, "basic");
        }
        @include responsive-for($lg) {
          font-size: map-get($font-size, "2xl");
        }
        @include responsive-for($md) {
          font-size: map-get($font-size, "xl");
        }
        @include responsive-for($mobile) {
          font-size: map-get($font-size, "lg");
        }
      }
      &_status {
        margin-top: 1rem;
        text-align: left;
        width: 100%;
        @include responsive-for($mobile) {
          display: none;
        }
      }
      &_tech {
        text-align: left;
        width: 100%;
        @include responsive-for($mobile) {
          display: none;
        }
      }
    }
    &_main {
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.5s ease;
      &_image {
        width: 100%;
        height: calc(100% - 3rem);
        background-color: map-get($background, light, primary);
        transition: all 0.5s ease;
        &.dark {
          background-color: map-get($background, dark, darkTransparent, 1);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &_title {
        @include d-flex();
        height: 3rem;
        border-top: 1px solid map-get($background, light, tertiary);
        background-color: map-get($background, light, primary);
        color: map-get($text, light, secondary);
        transition: all 0.5s ease;
        &.dark {
          border-top: 1px solid map-get($background, dark, tertiary);
          background-color: map-get($background, dark, darkTransparent, 1);
          color: map-get($text, dark, tertiary);
        }
      }
    }
  }
}
