.portfolio-card-container {
  height: 100%;
  box-shadow: map-get($box-shadow, light, 2);
  border-radius: map-get($border-radius, md);
  overflow: hidden;
  background-color: map-get($background, light, primary); //light
  background-color: rgba(255, 255, 255, 0.05); //dark
  transition: all 0.5s ease;
  // &:hover {
  //   scale: 1.05;
  // }
  .portfolio-card {
    width: 100%;
    height: 100%;
    position: relative;
    &:hover {
      .portfolio-card_details {
        opacity: 1;
      }
      .portfolio-card_main {
        opacity: 0;
      }
    }
    &_details {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease;
      @include d-flex(column, center, center);
      gap: 1rem;
      padding: 1rem;
      background-color: map-get($background, light, primary); //light
      background-color: rgba(255, 255, 255, 0.05);
      color: map-get($text, light, secondary); //light
      color: map-get($text, dark, secondary); //dark
      &_title {
      }
      &_description {
      }
    }
    &_main {
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.5s ease;
      &_image {
        width: 100%;
        height: calc(100% - 3rem);
        background-color: map-get($background, light, primary); //light
        background-color: rgba(255, 255, 255, 0.05); //dark
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &_title {
        @include d-flex();
        height: 3rem;
        border-top: 1px solid map-get($background, light, tertiary); //light
        border-top: 1px solid map-get($background, dark, tertiary); //dark
        background-color: map-get($background, light, primary); //light
        background-color: rgba(255, 255, 255, 0.05); //dark
        color: map-get($text, light, secondary); //light
        color: map-get($text, dark, tertiary); //dark
      }
    }
  }
}
