html {
  font-size: 16px;
  @include responsive-for($lg) {
    font-size: 15px;
  }
  @include responsive-for($md) {
    font-size: 14px;
  }
  @include responsive-for($mobile) {
    font-size: 13px;
  }
}

body {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
