//devices breakpoint
$xlg: 1400px;
$xlg: 1200px;
$lg: 992px;
$md: 768px;
$mobile: 576px;

//colors
$primary-color: #17c2ec;
$secondary-color: rgba(255, 255, 255, 0.5);
$white: #fff;
$black: #000;

$text: ();
