.sidenav-container {
  padding: 1rem;
  z-index: 100;
  width: 20rem;
  height: 100vh;
  background-color: map-get($background, light, primary);
  position: fixed;
  top: 0;
  left: -100%;
  transition: left 0.5s ease;
  box-shadow: map-get($box-shadow, light, 2);
  &.dark {
    background-color: map-get($background, dark, primary);
  }
  &.active {
    left: 0;
  }
  .sidenav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &_close {
      font-size: 28px;
      text-align: end;
    }
    &_links {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      &_item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: map-get($font-size, "3xl");
      }
    }
    &_cv {
      margin-top: 2rem;
      text-decoration: none;
      &.dark {
        &:active {
          color: map-get($text, light, secondary);
        }
      }
      &:active {
        color: map-get($text, dark, tertiary);
      }
      &_btn {
        font-size: map-get($font-size, "xl");
        color: map-get($text, light, secondary);
        gap: 10px;
        padding: 10px 14px;
        border-radius: map-get($border-radius, lg);
        border: 1px solid map-get($text, light, secondary);
        background-color: transparent;
        display: none;
        @include responsive-for($mobile) {
          @include d-flex();
        }
        &.dark {
          color: map-get($text, dark, tertiary);
          background-color: map-get($background, dark, darkTransparent, 2);
          border: none;
        }
      }
    }
  }
}
