.header-container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 map-get($padding-x, "lg");
  background-color: map-get($background, "light", "primary");
  color: map-get($text, "light", "secondary");
  transition: all 0.5s ease;
  &.dark {
    background-color: map-get($background, "dark", "primary");
    color: map-get($text, "dark", "tertiary");
  }
  @include responsive-for($md) {
    padding: 0 map-get($padding-x, "sm");
  }
  .header {
    max-width: $max-width;
    height: 5rem;
    width: 100%;
    margin: 0 auto;
    @include d-flex(row, space-between, center);
    @include responsive-for($md) {
      gap: 2rem;
    }
    &_logo {
      font-size: map-get($font-size, "10xl");
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      cursor: pointer;
    }
    &_nav-links {
      list-style-type: none;
      display: flex;
      gap: 2rem;
      font-weight: 600;
      @include responsive-for($lg) {
        display: none;
      }
      &_item {
        position: relative;
        cursor: pointer;
        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 3.5px;
          border-radius: map-get($border-radius, "xs");
          background-color: map-get($text, "light", "primary");
          top: calc(100% + 4px);
          left: 0;
          transition: width 0.5s ease;
        }
        &:hover {
          &::after {
            width: 75%;
          }
        }
        &.active {
          &::after {
            width: 100%;
          }
        }
      }
    }
    .hamburger-cv-mode {
      @include d-flex();
      gap: 1.5rem;
      .header_hamburger {
        display: none;
        @include responsive-for($lg) {
          @include d-flex();
        }
      }
      .header_cv {
        list-style-type: none;
        border: 1px solid lighten(map-get($text, "light", "secondary"), 50%);
        border-radius: map-get($border-radius, "sm");
        @include responsive-for($md) {
        }
        @include responsive-for($mobile) {
          display: none;
        }
        &_item {
          .item-link {
            text-decoration: none;
            @include d-flex();
            gap: 5px;
            padding: 0.8rem 1rem;
            font-size: map-get($font-size, "md");
            color: map-get($text, "light", "secondary");
            transition: all 0.5s ease;
            &.dark {
              color: map-get($text, "dark", "tertiary");
            }
          }
        }
      }
      .header_mode {
        list-style-type: none;
        @include d-flex(row, space-between, center);
        border: 2px solid lighten(map-get($text, "light", "secondary"), 50%);
        width: 70px;
        gap: 10px;
        padding: 5px;
        border-radius: 20px;
        transition: all 0.5s ease;
        &.dark {
          border: 2px solid map-get($background, dark, darkTransparent, 2);
        }
        &_item {
          & > .mode-btn {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: transparent;
            color: map-get($text, light, secondary);
            border: none;
            @include d-flex();
            font-size: 16px;
            cursor: pointer;
            transition: all 0.5s ease;
            &.dark {
              color: map-get($text, dark, primary);
            }
            &.mode-btn--highlight {
              color: map-get($text, light, primary);
              transition: all 0.5s ease;
              &.dark {
                color: map-get($text, dark, primary);
                background-color: map-get(
                  $background,
                  dark,
                  darkTransparent,
                  2
                );
              }
            }
          }
        }
      }
    }
  }
  & > .sidenav-backdrop {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: map-get($background, "light", "dark");
    opacity: 0.5;
    overflow: hidden;
  }
}
