.header-container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 map-get($padding-x, "lg");
  background-color: map-get($background, "light", "primary"); //light
  background-color: map-get($background, "dark", "primary"); //dark
  color: map-get($text, "light", "secondary"); //light
  color: map-get($text, "dark", "tertiary"); //dark
  @include responsive-for($md) {
    padding: 0 map-get($padding-x, "sm");
  }
  .header {
    max-width: $max-width;
    height: 5rem;
    width: 100%;
    margin: 0 auto;
    @include d-flex(row, space-between, center);
    @include responsive-for($md) {
      gap: 2rem;
    }
    &_logo {
      font-size: map-get($font-size, "10xl");
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
    }
    &_nav-links {
      list-style-type: none;
      display: flex;
      gap: 2rem;
      font-weight: 600;
      @include responsive-for($md) {
        display: none;
      }
      &_item {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 3.5px;
          border-radius: map-get($border-radius, "xs");
          background-color: map-get($text, "light", "primary");
          top: calc(100% + 4px);
          left: 0;
          transition: width 0.5s ease;
        }
        &:hover {
          &::after {
            width: 75%;
          }
        }
        &.active {
          &::after {
            width: 100%;
          }
        }
      }
    }
    &_hamburger {
      display: none;
      @include responsive-for($md) {
        display: unset;
        order: 2;
        margin-left: auto;
      }
    }
    &_cv {
      list-style-type: none;
      border: 1px solid lighten(map-get($text, "light", "secondary"), 50%);
      border-radius: map-get($border-radius, "sm");
      @include responsive-for($md) {
        order: 3;
      }
      &_item {
        &:first-child {
        }
        .item-link {
          text-decoration: none;
          @include d-flex();
          gap: 5px;
          padding: 0.8rem 1rem;
          font-size: map-get($font-size, "md");
          color: map-get($text, "light", "secondary"); //light
          color: map-get($text, "dark", "tertiary"); //dark
        }
      }
    }
  }
  & > .sidenav-backdrop {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: map-get($background, "light", "dark");
    opacity: 0.5;
    overflow: hidden;
  }
}
