@import "./basicDetails/basicDetails";
@import "./professionalDetails/professionalDetails";
@import "./experienceCard/experienceCard";
@import "./experienceDetails/experienceDetails";

.about-container {
  // margin-top: 5rem;
  width: 100%;
  height: calc(100vh - 5rem);
  .about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    .carousel-container {
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      position: relative;
      .carousel {
        display: flex;
        flex-direction: row;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        &_item {
          flex-grow: 0;
          flex-shrink: 0;
          box-sizing: border-box;
          .inner {
            height: 100%;
            width: 100%;
            // border: 1px solid red;
          }
        }
      }
      .button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: map-get($text, light, primary); //light
        color: map-get($text, dark, primary); //dark
        &:disabled {
          // color: lighten(map-get($text, light, primary), 50%);
          color: map-get($text, dark, primary); //light
          color: map-get($text, light, primary); //dark
          cursor: not-allowed;
        }
        & > .icon {
          font-size: 3rem;
          // color: red;
        }
        &--prev {
          position: absolute;
          top: 50%;
          left: 1rem;
          transform: translateY(-50%);
        }
        &--next {
          position: absolute;
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);
        }
      }
    }
  }
}
