.home-container {
  margin-top: 5rem;
  height: 100vh;
  background-color: map-get($background, light, secondary);
  color: map-get($text, light, secondary);
  &.dark {
    background-color: map-get($background, dark, secondary);
    color: map-get($text, dark, tertiary);
  }
  .home {
    height: 100%;
    position: relative;
    @include responsive-for($lg) {
      grid-template-columns: 1fr;
    }
    &_intro-wrapper {
      @include d-flex(column, center, flex-start);
      height: 100vh;
      width: 100%;
      .home-intro {
        padding: map-get($padding-x, lg);
        font-weight: 600;
        @include responsive-for($mobile) {
          text-align: center;
        }
        & > .greet {
          color: map-get($text, light, primary);
          font-size: map-get($font-size, "6xl");
          letter-spacing: 3px;
        }
        & > .intro {
          font-size: 60px;
          font-family: "Dancing Script", cursive;
          font-optical-sizing: auto;
          font-weight: 900;
          font-style: normal;
          margin-bottom: 2rem;
        }
        & > .passion {
          font-size: map-get($font-size, "3xl");
          span {
            font-size: map-get($font-size, "11xl");
            color: map-get($text, light, primary);
          }
        }
      }
    }

    &_image {
      width: 100%;
      position: absolute;
      top: -80px;
      height: 700vh;
      .hero-image {
        height: 100vh;
        position: sticky;
        top: 20vh;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        // @include responsive-for($xlg) {
        //   width: 90%;
        // }
        // @include responsive-for($lg) {
        //   width: 50%;
        // }
        // @include responsive-for($md) {
        //   width: 60%;
        // }

        img {
          aspect-ratio: 0.8;
          height: 80vh;
          object-fit: cover;
          margin-right: 5rem;
        }
      }
    }
    &_social {
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translate(0, -50%);
      list-style-type: none;
      @include d-flex(column, center, center);
      gap: 10px;
      @include responsive-for($mobile) {
        right: 1rem;
        transform: translate(0, 0);
      }
      .social-item {
        border: 1px solid map-get($text, light, secondary);
        border-radius: map-get($border-radius, xs);
        width: 48px;
        height: 48px;
        @include d-flex();
        &.dark {
          border: 1px solid map-get($background, dark, darkTransparent, 2);
        }
        &_icon {
          @include d-flex();
          font-size: 30px;
          color: map-get($text, light, primary);
        }
      }
    }
  }
}
