.experience-card-container {
  color: map-get($text, light, secondary);
  font-size: map-get($font-size, md);
  padding: 1.5rem;
  border-radius: map-get($border-radius, md);
  box-shadow: map-get($box-shadow, light, 2);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  &.dark {
    color: map-get($text, dark, tertiary);
    background-color: map-get($background, dark, darkTransparent, 1);
  }
  .experience-card {
    @include d-flex(column, center, center);
    &_designation {
      color: map-get($text, light, primary);
      margin: 0;
      font-size: map-get($font-size, "3xl");
      margin-bottom: 0.5rem;
      text-align: center;
      transition: all 0.5s ease;
      &.dark {
        color: map-get($text, dark, secondary);
      }
    }
    &_company {
      margin: 0;
      font-size: map-get($font-size, "lg");
      margin-bottom: 1rem;
    }
    &_date-location {
      margin: 0;
      display: flex;
      gap: 2rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      .experience-card-date {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
      .experience-card-location {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }
    &_link {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-bottom: 0.8rem;
      font-weight: 600;
      color: map-get($background, dark, primary);
      transition: all 0.5s ease;
      &.dark {
        color: map-get($text, light, primary);
      }
    }
    &_list {
      padding: 0 1rem;
      margin: 0;
      li {
        margin-bottom: 5px;
        font-weight: 500;
        & > a {
          color: map-get($background, dark, primary); //light
          color: map-get($text, light, primary); //dark
          font-style: italic;
        }
      }
    }
  }
}
