.portfolio-container {
  width: 100%;
  padding: 4rem 0;
  .portfolio {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    &_heading {
      font-size: map-get($font-size, "4xl");
      font-weight: 900;
      color: map-get($text, light, secondary);
      text-align: center;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        width: 75%;
        height: 4px;
        background-color: map-get($text, light, primary);
        top: calc(100% + 4px);
        left: 50%;
        transform: translateX(-50%);
        border-radius: map-get($border-radius, sm);
      }
    }
    &_list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}
