.portfolio-container {
  width: 100%;
  padding: 4rem map-get($padding-x, lg);
  position: relative;
  background-color: map-get($background, light, secondary); //light
  background-color: map-get($background, dark, secondary); //dark
  @include responsive-for($md) {
    padding: 4rem map-get($padding-x, sm);
  }
  .portfolio {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    &_heading {
      font-size: map-get($font-size, "4xl");
      // font-weight: 900;
      font-family: "Baskervville SC", serif;
      font-weight: 400;
      color: map-get($text, light, secondary); //light
      color: map-get($text, dark, secondary); //dark
      text-align: center;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        width: 75%;
        height: 4px;
        background-color: map-get($text, light, primary);
        top: calc(100% + 4px);
        left: 50%;
        transform: translateX(-50%);
        border-radius: map-get($border-radius, sm);
      }
    }
    &_list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      align-items: stretch;
      @include responsive-for($md) {
        grid-template-columns: repeat(1, 1fr);
      }
      &_item {
        list-style-type: none;
      }
    }
  }
}
